.Widget {
    background-color: #34495e;
    padding: 1rem;
}

.Widget .content {
    font-size: 10em;
    font-weight: bold;
}

.PieWidget
{
  background-color: #34495e;

  text-align: center;
}

.ListWidget
{
  background-color: #34495e;
  padding: 1rem;
  font-size: 2em;
  height:max;
}
